<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

From a set of tweets, create a dataframe in which the index are the user ids and the columns are a count of tweets by day.

Before using, make sure to set the correct path of the input (line-oriented JSON) files and output file (CSV).

In [1]:
import pandas as pd
import numpy as np
import json
from dateutil.parser import parse as date_parse

df = pd.DataFrame()

# Optional limit of number of tweets to load.
limit = 10000

count = 0

# Change json files to load
for filepath in ('/Users/justinlittman/Downloads/tweets-001.jsonl',):
    with open(filepath) as file:
        for line in file:
            if limit and limit <= count:
                break
            tweet = json.loads(line.rstrip('\n'))
            user_id = tweet['user']['id_str']
            created_at_day = date_parse(tweet['created_at']).strftime("%Y-%m-%d")
            try:
                # Get row
                row = df.loc[user_id]
                # Set column
                row[created_at_day] = row[created_at_day] + 1 if pd.notna(row[created_at_day]) else 1
            except KeyError:
                # Add row
                df = df.append(pd.DataFrame([{created_at_day: 1}], index=[user_id]))
            count += 1
            
df = df.fillna(0)

In [2]:
df.describe()

        2017-08-26
count  8812.000000
mean      1.134816
std       0.604887
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      19.000000

In [3]:
df.head()

                    2017-08-26
2804679657                   1
35943534                     1
458065150                    1
30017277                     1
827910186031599618           1

In [4]:
# Change destination file.
df.to_csv('/Users/justinlittman/Downloads/tweeters_by_date.csv')